.fc4r-gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: 0.75rem;
	grid-row-gap: 0.75rem;
}

.fc4r-gallery-grid img {
	max-height: 480px;
	object-fit: contain;
}
